
.clockes_time {

}

.clockes_bit_of_time {
    background-color: lightgrey;
    border-radius: 1px;
    border: 0;
}

.clockes_bit_of_time.active {
    background-color: black;
    border: 0.5px solid lightgrey;
}
