
.dark_clockes_time .clockes_bit_of_time {
    background-color: black;
}

.dark_clockes_time .clockes_bit_of_time.active {
    background-color: lightgrey;
    border-radius: 1px;
}

.light_clockes_time .clockes_bit_of_time {
    background-color: lightgrey;
    border-radius: 1px;
}

.light_clockes_time .clockes_bit_of_time.active {
    background-color: black;
    border: 1px solid lightgrey;
}
